/vendor
/node_modules
/public/storage
.env
.env.testing

_ide_helper*.php
.tags


#project
nbproject/private
/.idea

#osx
.DS_Store

#windows
Thumbs.db

#vagrant
.vagrant
Vagrantfile
Homestead.yaml
Homestead.json


storage/*.sqlite
storage/*.sqlite-journal
storage/debugbar/
/resources/assets/bower/
/public/robots.txt
resources/views/event

public/build/css/*.css
public/build/css/*.map
public/build/js/*.js
public/build/rev-manifest.json
public/build/rev-manifest.json
public/mix-manifest.json
public/css/*
public/js/*
public/fonts/vendor/*
public/images/vendor/*

